// Add your custom styles here
.DocSearch-content {
  h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
    color: #002f3c;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  li {
    list-style: none;
		position: relative;
		padding: 0 0 0 20px;

    &::before {
			content: "";
			position: absolute;
			left: 0;
			top: 12px;
			height: 7px;
			width: 7px;
			border: 1px solid #00B500;
			border-width: 2px 2px 0 0;
			transform: rotate(45deg);
		}
  }

  img {
    background-color: #3B3F42;
    padding: 2.5rem 1.5rem;
    margin-bottom: 4rem;
    position: relative;
    border-radius: 3px;
    width: 100%;
  }

  .rules {
    background-color: #fffaf0;
    color: #c05621;
    padding: 16px;
    border-left: 3px solid #c05621;

    h4 {
      font-weight: 600;
      color: #c05621;
      font-size: 1rem;
    }
  }
}
